<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationApp"
        tools:targetApi="31">
        <activity
            android:name=".EspaceLocataires"
            android:exported="false" />
        <activity
            android:name=".DetailTikets"
            android:exported="false" />
        <activity
            android:name=".Bricefile"
            android:exported="false" />
        <activity
            android:name=".HistoriqueListeRecuGeneree"
            android:exported="false" />
        <activity
            android:name=".DetailAdmin"
            android:exported="false" />
        <activity
            android:name=".RegisterAdmin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".TicketHistoriqueTenant"
            android:exported="false" />
        <activity
            android:name=".UpdateTenant"
            android:exported="false" />
        <activity
            android:name=".Historique"
            android:exported="false" />
        <activity
            android:name=".Creat_new_tenant"
            android:exported="false" />
        <activity
            android:name=".MoreTenant"
            android:exported="false" />
        <activity
            android:name=".List_of_tenants"
            android:exported="false" />
        <activity
            android:name=".New_ticket"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAdmin"
            android:exported="true"
            android:launchMode="singleTask"
            android:lockTaskMode="if_whitelisted">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.notificationapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".SmsReminderService" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>